################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nop.Plugin.Recommendations.SimilarProducts/obj
/Nop.Plugin.Recommendations.SimilarProducts/Nop.Plugin.Recommendations.SimilarProducts.csproj.user
